
  @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
  @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);


body {
  /* animation: 10000ms ease-in-out infinite color-change; */
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #011627ff; */
  background-color: #000112;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Roboto', "Courier New",
    monospace;
}


form {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

input {
  text-align: left;
  outline: 0;
  padding: 10px;
  border-radius: 5px;
  margin: 1%;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border-bottom: 0.5px solid #aaa;
  width: 80%;
  font-size: 1em;
  color: white;
}



button {
 margin: 3%; 
 margin-top: 0;
border-style: none;
text-align: center;
padding: 2%;
width: 70px;
height:30px;
border-radius:30px;
left:calc(30% - 75px);
top:calc(30% - 25px);
margin-bottom: 5%;
background-color:#683142;
color: whitesmoke;
cursor:pointer;
box-shadow: 0 1px 1px rgba(216, 204, 204, 0.867);   
justify-content: center;
}


/* button:focus {
  outline: 4;
} */



